.about 
  display flex 
  flex-direction column
  align-items center
  height 100vh
  justify-content center
    
.demo 
  wrapped()
  height 100vh
  display flex
  justify-content space-between
  background-image: linear-gradient(42deg, #00D6BE 0%, #00AC89 100%, #00AC89 100%);
  
  &-info 
    display flex 
    flex-direction column
    justify-content center
    lost-column 4/12
    
  &-actions 
    display flex 
    flex-direction column
    justify-content space-around
    margin-top 3rem
    height 20%
    width 60%
  
.quote
  display flex 
  height 70vh
  justify-content center
  flex-direction column
  align-items center
  background url('/img/stars-ilustration.svg') 50% 25% no-repeat 