.about 
  display flex 
  flex-direction column
  align-items center
  height 100vh
  justify-content center
  
  &-text
    max-width 600px
    text-align center
    
.demo 
  wrapped(80%)
  height 100vh
  display flex
  background-image: linear-gradient(42deg, #00D6BE 0%, #00AC89 100%, #00AC89 100%);