// Variables colors
$primary = #00A17E
$primary-light = #00CCA0
$primary-dark = #006650
$black = #003328
$green-accent = #BDEBE0

$main-gradient = linear-gradient(0deg, $primary 0%, $primary-light 100%)