// Variables colors
$primary = #00A17E
$primary-light = #00CCA0
$primary-dark = #006650
$black = #003328
$green-accent = #BDEBE0

$green = #52BB97
$light-green = #DAF1D6

$red = #EB6063
$light-red = #F9C8C7

$main-gradient = linear-gradient(0deg, $primary 0%, $primary-light 100%)