// Wrapper without another div
wrapped($n = $width-content)
  padding-left 'calc(50% - (%s / 2))' % $n
  padding-right 'calc(50% - (%s / 2))' % $n
  
// Wrapper just left side
wrapped-left($n = $width-content)
  padding-left 'calc(50% - (%s / 2))' % $n

// Wrapper just left side
wrapped-right($n = $width-content)
  padding-right 'calc(50% - (%s / 2))' % $n