// ======================================================//
// Text utilities
// ======================================================//
p
  line-height 25px
  margin-top 1rem
  
a 
  text-decoration none
  color white
  
.text-center
  font-size 1.5rem
  font-weight 200
  line-height 30px
  text-align center
  
.text-left
  color white
  font-weight 600
  
  &--footer 
    font-size 1.2rem
    font-weight 400
  
.title
  font-size 2rem
  font-weight 600
  color #007C5A
  
  &--secondary
    color white

.title--main
  font-weight 200
  color white
  font-size 3.5rem
  margin-bottom 1rem
  
.title--big
  font-weight 200
  color $secondary
  font-size 3rem 
  
.subtitle
  color #00AC89
  font-size 1rem
  margin 1rem 0 3rem 0