// ======================================================//
// Text utilities
// ======================================================//
p
  font-size 18px
  line-height: 30px
  
.title
  font-size 2rem
  line-height 34px
  font-weight 700
  color $primary
  
  & + p
    margin-top 2rem

  &--main
    font-size responsive 2.5rem 3.5rem
    font-weight 300
    line-height 54px
    color $black
    
.subtitle
  font-weight 300
  font-size 1.5rem
  line-height 34px
  
.tag
  font-weight 700
  font-size 1rem
  color $primary