// ======================================================//
// Text utilities
// ======================================================//
p
  margin-top 0
  margin-bottom 0
  font-size 16px
  line-height 20px
  color white
  
a 
  text-decoration none
  color white
  
.title
  font-family 'lato', sans-serif
  font-size 2rem
  font-weight 600
  color #007C5A

.title--big
  font-weight 200
  color $secondary
  font-size 3rem 
  
.subtitle
  color #007C5A