.api 
  display flex 
  flex-direction column
  justify-content center
  width 35%
  
  h3 
    color white
    
  &-actions 
    display flex 
    flex-direction column
    justify-content space-around
    margin-top 3rem
    height 20%
    width 60%
    
    p
      color white
      font-weight 600