.documentation
    display flex
    align-items baseline
    
    &-validate
      display flex
      flex-direction column
      padding 2rem 3rem
      align-items center
      
    &-text
      font-size 1.5rem
      font-weight 200
      text-align center
      line-height 30px