.footer
  wrapped()
  display flex
  padding-top 3rem
  padding-bottom 3rem
  justify-content space-between
  background-color $primary
  align-items baseline
  
  +below(75rem)
    wrapped(95%)
  
  &-logo
    display flex
    flex-direction column
    
    +below(55rem)
      display none
  
  &-links
    display flex
    flex-direction column
    justify-content space-around
    
    a 
      padding-top 1rem
      font-size 14px
      
      &:hover 
        text-decoration underline