.mainNav
  display flex
  min-width 500px
  justify-content space-between
  align-items center
  
.mainNav-item
  text-transform uppercase
  font-family 'acto', sans-serif
  font-weight 600
  letter-spacing 2px
  border 2px solid transparent
  transition 350ms all ease-in-out
  
  &:last-child
    margin-right 0