.nav
  display flex
  align-items center
  
.nav-item
  color white
  font-size 14px
  text-decoration none
  text-transform uppercase
  letter-spacing 0.58px
  margin-right 3rem
  
  &:hover
  &--active
    font-weight 700