.slider 
  display flex 
  align-items center
  lost-column 7/12
  position relative
  
  &:before
    position absolute
    top 0
    bottom 0
    width 100%
    height 100%
    transform translateY(1.5rem) translateX(1.5rem)
    content ''
    border 2px solid white
    border-radius 5px
    
  .gist .gist-file 
    margin-bottom 0