.slider 
  display flex 
  align-items center
  lost-column 7/12
  position relative
  
  &:before
    position absolute
    width 100%
    height 50%
    transform translateY(5%) translateX(5%)
    content ''
    border 2px solid white
    border-radius 5px